<div class="container">
        <img src="/public/assets/images/TennisMatchr.png" alt="tennisBanner" class="center">
        <nav class="navbar navbar-expand-lg navbar-light">
            <span class="navbar-brand" href="#">
                <img src="/public/assets/images/unnamed.jpg" width="30" height="30" alt="player">
            </span>
            <a id="navbar-brand" class="navbar-brand" href="/">Home</a>        
            <a id="navbar-brand" class="navbar-brand" href="/event">Events</a>       
            <a id="navbar-brand" class="navbar-brand" href="/player">Players</a>           
        </nav>
    </div>
    <div class="container" id="login-signup">
        <div class="row">
            <div class="col">
                <h3>Login</h3>
                <form action="/login" method="POST">
                    <div class="row">
                        <div class="col">
                            <input type="text" id="uname" name="uname" class="form-control" placeholder="Username">
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col">
                            <input type="password" id="pword" name="pword" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" id="login" name="login" value="Login">
                        </div>
                    </div>
                </form>            
            </div>
            <div class="col">
              <h1 id="or">Or</h1>
            </div>
            <div class="col">
                <h3>Register</h3>
                <form action="/register" method="POST">
                    <div class="row">
                        <div class="col">
                            <input type="text" id="fname" name="fname" class="form-control" placeholder="First name">
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col">
                            <input type="text" id="lname" name="lname" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" id="email" name="email" class="form-control" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" id="uname" name="uname" class="form-control" placeholder="Username">
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col">
                            <input type="password" id="pword" name="pword" class="form-control" placeholder="Password">
                            <label for="rating">Player Rating:</label>
                            <select name="rating" id="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" id="register" name="register" value="Register">
                        </div>
                    </div>
                </form>
            </div>
          </div>
    </div>