<div class="container">
        <img src="/public/assets/images/TennisMatchr.png" alt="tennisBanner" class="center">
        <nav class="navbar navbar-expand-lg navbar-light">
            <span class="navbar-brand" href="#">
                <img src="/public/assets/images/unnamed.jpg" width="30" height="30" alt="player">
            </span>
            <a id="navbar-brand" class="navbar-brand" href="/">Home</a>        
            <a id="navbar-brand" class="navbar-brand" href="/event">Events</a>       
            <a id="navbar-brand" class="navbar-brand" href="/roster">Roster</a>           
        </nav>
    </div>
    <div class="container" id="login-signup">
        <div class="row">
            <div class="col">
                <h3>Login</h3>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                </div>  
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Password">
                    </div>
                </div>
                <button type="button" class="btn">Login</button>
            </div>
            <div class="col">
              <h1 id="or">Or</h1>
            </div>
            <div class="col">
                <h3>Sign Up</h3>
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <button type="button" class="btn">Sign Up</button>
                </form>
            </div>
          </div>
    </div>