<div class="container">
    <img src="/public/assets/images/TennisMatchr.png" alt="tennisBanner" class="center">
</div>
<h3>Account was successfully created! Click <a href='/'>here </a>to go back and log-in!</h1>
